{% extends "students/base.html" %}


  {% block 'contents' %}
    <div class="container">
      <h1>Student: {{student.surname}}  {{student.name}}</h1>
      <ul class="list-group">
        <li class="list-group-item">id: {{student.id}}</li>
        <li class="list-group-item">course: {{student.course}}</li>
        <li class="list-group-item">Email: {{student.email}}</li>
        <li class="list-group-item">Phone number: {{student.phone}}</li>
        <li class="list-group-item">Package: {{student.package}}</li>
        {% if student.dossier != None %}
          <li class="list-group-item">Dossier: {{student.dossier}}</li>
        {% endif %}
      </ul>
    </div><!-- /.container -->
  {% endblock %}
