{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block 'header' %}
  {% include "header.html" with active_home="active" %}
{% endblock %}

{% block 'contents' %}
    <div class="container">

      <div class="starter-template">
        <h1>IT Bursa homepage</h1>
        <p class="lead"> Professional programming courses.
        <br> Python, JavaScript, Ruby and more.</p>
        <h1>COME WITH US!</h1>
        <div class="panel panel-default">
          <img src="{% static "img/ComeWithUs.jpg" %}" width="600" height="600">
          </div>
        <audio controls loop>
            <source src="{% static "audio/cwus.mp3" %}" type="audio/mpeg">
        </audio>
      </div>

    </div><!-- /.container -->
{% endblock %}
