{% extends "courses/base.html" %}

  {% block 'contents' %}
    <div class="container">
      <h1>Course name: {{course.name}}</h1>
      <ul class="list-group">
        <li class="list-group-item">Description: {{course.description}}</li>
        <li class="list-group-item">Start date: {{course.start_date}}</li>
        <li class="list-group-item">Finish date: {{course.finish_date}}</li>
        <li class="list-group-item">Teacher: {{course.teacher}}
            {{course.teacher.name}}</li>
        {% if course.assistant != None %}
            <li class="list-group-item">Assistent: {{course.assistant}}
                {{course.assistant.name}}</li>
        {% endif %}
        {% if course.venue != None %}
          <li class="list-group-item">Venue: {{course.venue}}
        {% endif %}
      </ul>
    </div><!-- /.container -->
  {% endblock %}
