{% extends "courses/base.html" %}

  {% block 'contents' %}
    <div class="container">
      <h1>IT Bursa courses list:</h1>
      <table class="table">
      <tr>
        <th>Name</th>
        <th>Start date</th>
        <th>Finish date</th>
      </tr>
        {% for course in courses %}
          <tr>
            <td><a href="{% url 'courses:item' course.id %}">
              {{course.name}}</a></td>
            <td>{{course.start_date}}</td>
            <td>{{course.finish_date}}</td>
          </tr>

        {% endfor %}
      </ul>

    </div><!-- /.container -->
  {% endblock %}
