{% extends "courses/base.html" %}
{% load i18n %}

  {% block 'contents' %}
    <div class="container">
      <h1>{% trans "IT Bursa courses list:" %}</h1>
      <table class="table">
      <tr>
        <th>{% trans "Course name" %}</th>
        <th>{% trans "Start date" %}</th>
        <th>{% trans "Finish date" %}</th>
        <th></th>
      </tr>
        {% for course in courses %}
          <tr>
            <td><a href="{% url 'courses:item' course.id %}">
              {{course.name}}</a></td>
            <td>{{course.start_date}}</td>
            <td>{{course.finish_date}}</td>
            <td>
              <div align="right">
                <a href="{% url 'courses:edit' course.id %}" >
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true">
                  </span>
                </a>
                <a href="{% url 'courses:remove' course.id %}" >
                  <span class="glyphicon glyphicon-remove" aria-hidden="true">
                  </span>
                </a>
              </div>
            </td>
          </tr>

        {% endfor %}
        <tr><td><form>
          <button type="submit" class="btn btn-default"
            formaction="{% url 'courses:add' %}"><span
            class="glyphicon glyphicon-plus" aria-hidden="true">
            </span>{% trans " Add item" %}</button>
          </form></td></tr>
      </table>
    </div><!-- /.container -->
  {% endblock %}
