{% extends "coaches/base.html" %}

  {% block 'contents' %}
    <div class="container">
      <h1>Coach name: {{coach.name}} {{coach.surname}}</h1>
      <ul class="list-group">
        <li class="list-group-item">Position: {{coach.position}}</li>
        <li class="list-group-item">Email: {{coach.email}}</li>
        <li class="list-group-item">Phone number: {{coach.phone}}</li>
        {% if course != None %}
          <li class="list-group-item">Course: {{course.name}}</li>
        {% endif %}
        {% if coach.dossier != None %}
          <li class="list-group-item">Dossier: {{coach.dossier}}</li>
        {% endif %}
      </ul>
    </div><!-- /.container -->
  {% endblock %}
